<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.beaconhunt" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Beacon Hunt</name>
    <description>
        Find the Beacon
    </description>
    <author email="john.j.dooley@gmail.com" >
        John Dooley
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/res/icons/icon.png" />
</widget>
